<mat-toolbar>
    Add new User
    <span class="spacer"></span>
    <mat-checkbox [(ngModel)]="addCheckBox" class="add-check-box" color="primary">Add another</mat-checkbox>
    <button mat-stroked-button color="primary" (click)="addUser(addUserForm.value)" [disabled]="!addUserForm.valid">
      <mat-icon aria-hidden="false" aria-label="Save">done</mat-icon>
    </button>
</mat-toolbar>
<form [formGroup]="addUserForm" class="add-user-form" autocomplete="off">
    <table class="add-user-fields-table">
        <tr class="row">
            <td class="table-data">
                <mat-form-field class="form-element">
                    <input type="text" matInput placeholder="Firstname" formControlName="firstname" autofocus>
                </mat-form-field>
            </td>
            <td class="table-data">
                <mat-form-field class="form-element">
                    <input type="text" matInput placeholder="Lastname" formControlName="lastname">
                </mat-form-field>
            </td>
        </tr>
        <tr class="row">
            <td class="table-data">
                <mat-form-field class="form-element">
                    <input type="text" matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </td>
            <td class="table-data">
                <mat-form-field class="form-element">
                    <input type="password" matInput placeholder="password" formControlName="password">
                </mat-form-field>
            </td>
        </tr>
        <tr class="row">
            <td class="table-data">
                <mat-form-field class="form-element">
                    <input type="email" matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </td>
            <td class="table-data">
                <mat-checkbox class="add-check-box" formControlName="isAdmin" color="primary">is Admin?</mat-checkbox>
            </td>
        </tr>
    </table>

</form>