.user-card {
    margin: 3px;
    background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
    border-radius: 5px;
}

// .table {
//     margin-top: -15px !important;
//     width: 100%;
// }
// .user-info {
//     width: 70%;
// }
// .estimation-info {
//     text-align: center;
//     width: 25%;
//     height: 100%;
// }
.estimation {
    font-size: x-large;
    font-weight: bolder;
    color: wheat;
}

.role {
    font-size: small;
    font-weight: lighter;
    display: flex;
    flex: auto;
    margin-left: 10px;
    margin-bottom: 3px;
}

.username {
    font-size: larger;
    display: flex;
    flex: auto;
    margin-left: 10px;
}
