.user-card {
    height: 30px;
    margin: 3px;
    background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}

.table {
    margin-top: -15px !important;
    width: 100%;
}

.user-info {
    width: 70%;
}

.estimation-info {
    text-align: center;
    width: 25%;
    height: 100%;
}

.estimation {
    height: 25px;
    width: 25px;
    font-size: xx-large;
    font-weight: bolder;
    color: wheat;
}
