h4 {
    text-align: center;
    margin-bottom: -10px;
}

.story-number {
    background-color: hsla(160, 57%, 46%, 0.75);
    padding: 5px;
    color: whitesmoke;
    animation: blinker 1s linear infinite;
    border-radius: 0.25rem;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.info {
    text-align: center;
    position: absolute;
}