.container {
    background-image: url(../../../../assets/images/blackboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
}

.title {
    position: absolute;
    font-size: 2.4rem;
    // text-align: center;
    color: whitesmoke;
    font-family: chalkFont;
}

.tabGroup {
    max-width: 25%;
    min-width: 300px;
    margin: auto;
    position: relative;
}

.tab {
    width: 100%;
}

.mat-tab-label {
    color: whitesmoke;
    font-weight: bolder;
}

.joinForm {
    padding: 10px;
}

.form-element {
    width: 100%;
}

.joinButton,
.loginButton {
    float: right;
    width: 40%;
}

.loginButton {
    margin-top: 41.5px;
}