.bottom {
    position: absolute;
    bottom: 0;
}

.active-list-item {
    color: #1BDA8A !important;
}

.sidenav {
    width: 100%;
    height: 100%;
}

.sidenav-l {
    width: 100%;
    height: 89%;
}

.outer {
    height: 100%;
}