.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.sidenav {
    height: 100%;
}

.expandButton {
    bottom: 0;
    left: 0;
}

.sidenav-content {
    z-index: 5;
    position: initial;
}

.is-active {
    background-color: lightseagreen;
}
