.post-story {
    width: 60%;
    .form-element {
        width: 35%;
        margin-right: 5px;
    }
    button {
        margin-left: 5px;
        width: 18%;
    }
}

.poll-fieldset {
    border: double 2px lightseagreen;
}