.table {
    width: 100%;
    height: 80%;
}

.users-table {
    height: 90%;
    width: 100%;
    // overflow-y: auto;
}

.spinner-container {
    height: 360px;
    width: 390px;
    position: fixed;
}

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}

.mat-paginator-container {
    justify-content: center;
}
