// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$estimator-client-primary: mat-palette($mat-green);
$estimator-client-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$estimator-client-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$estimator-client-theme: mat-light-theme( $estimator-client-primary, $estimator-client-accent, $estimator-client-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($estimator-client-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.bottom-sheet {
    width: 700px;
}

.add-check-box {
    font-size: 15px;
    margin-right: 15px;
}

.icon {
    padding: 0 14px;
}

.primaryBackground {
    background: linear-gradient(140deg, #00c9ff 0%, #92fe9d 100%);
}

@font-face {
    font-family: chalkFont;
    src: url(./assets/fonts/SqueakyChalkSound.ttf);
}

// $page-left-margin: 10px;
.page-container {
    position: relative;
    height: 98%;
    width: 100%;
}

.top {
    margin: 10px 10px 5px 10px;
}

.addButton {
    position: fixed !important;
    right: 15px;
    bottom: 15px;
}

// For Tiles
.flex-container {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    margin: 10px;
    padding: 25px;
    display: block;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

$toggle-button-height: 40px;
:host .mat-button-toggle-group {
    height: $toggle-button-height;
}

.mat-button-toggle-label-content {
    line-height: $toggle-button-height !important;
}

ng-scrollbar {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: rgba(142, 250, 236, 0.589);
    --scrollbar-thumb-hover-color: lightgreen;
    --scrollbar-border-radius: 4px;
}

tr.mat-footer-row {
    border: 1px solid #e7e7e7;
    height: 10px !important;
}