.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    .squad-card {
        margin: 10px;
        // display: flex;
        min-width: 160px;
        border-top: rgb(0, 255, 98) 3px solid;
        text-align: center;
    }
}

.copy-icon {
    font-size: small;
    margin-right: 5px;
}

.accessCode {
    padding: 5px;
    background-color: lightgoldenrodyellow;
    display: flex !important;
    border: dashed thin;
    border-radius: 5px;
    justify-content: center;
}