<div *ngIf="dataSource">
    <mat-card class="sprint-details" *ngIf="sprint">
        <div class="actual"><span class="actual-capacity">Sprint Capacity</span>
            <span class="dev">{{ sprint.devCapacity }}</span>
            <span class="qa">{{ sprint.qaCapacity }}</span>
            <span class="ba">{{ sprint.baCapacity }}</span>
        </div>
        <div class="remaining"><span class="remaining-capacity">Remaining Capacity</span>
            <span class="dev">{{ sprint.devCapacity - totalEstimation.dev }}</span>
            <span class="qa">{{ sprint.qaCapacity - totalEstimation.qa }}</span>
            <span class="ba">{{ sprint.baCapacity - totalEstimation.ba }}</span>
        </div>
        <div class="export">
            <a class="export-button" mat-button>Export</a>
        </div>
    </mat-card>
    <canvas class="chart" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
  </canvas>
</div>
